<%if user_signed_in?%>
  <h3><p>Welcome <%= current_user.email%></p></h3>
<%end%>

	<div id = "new_question">
	  <%= link_to "Add New Question" %>
	</div>
	<div id = "new_question_form"></div>
<br/>

<div class = "questions">
  <%= render partial: "q_index" %>
</div>

<script>
  $("#new_question").click(function(){
    alert("come");
    $.ajax({
      type: "GET",
      url: "/questions/new",
      success: function(data){
        alert(data);
      $("#new_question_form").html("<%= escape_javascript(render(:partial => 'new')) %>");
      },
      error: function(data){
      }
    });
  });
</script>