<%if user_signed_in?%>
  <h3><p>Welcome <%= current_user.email%></p></h3>
<%end%>

	<div><%= link_to "Add New Question",  new_question_path, :remote => true %></div>
  <div id="question-form" style="display:none;"></div><br/>

<div class = "questions">
  <%= render partial: "q_index" %>
</div>