
<p><%= link_to("<< Back to List", question_path(@answer.question_id), :class => 'back-link') %></p>

<div class="anser edit">
  <h2>Update</h2>

  <%= form_for(@answer, url: answer_path(@answer.id)) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update answer") %>
    </div>

  <% end %>
</div>
